@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

header {
    text-align: center;
    background-color: rgb(253, 74, 134);
    padding: 10px;
    font-family: 'Playfair Display', 'serif';
    color:  rgb(114, 0, 38);
}
h2 {
    font-family: 'Playfair Display', 'serif';
    margin-top: 10px;
    margin-bottom: 10px;
    background: linear-gradient(to right,  rgb(253, 74, 134),  rgba(253, 74, 134, 0));
    color:  rgb(46, 0, 15);
}
* {
    margin: 0px;
    padding: 0px;
}
main {
    background-color: rgb(255, 185, 208);
    width: 600px;
    margin: auto;
    padding-left: 28px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
}
body {
    background-color: rgb(255, 235, 242);
}
p, li {
    font-family: 'Nunito', 'sans-serif';
    color: rgb(46, 0, 15)
}
p {
    text-indent: justify;
}
a {
    text-decoration: none;
    color: rgb(114, 0, 38);
}
a:hover {
    text-decoration: underline;
    color: rgb(230, 1, 77);
}